<h3>Welcome To Legato JS</h3>
<div id="gSignInWrapper">
  <span class="label">Sign in with:</span>
  <div id="btn-google" class="customGPlusSignIn">
    <span class="icon"></span>
    <span class="buttonText"><a href="/auth/google">Google</a></span>
  </div>
</div>