<%- include ('../partials/header.ejs'); %>

<main>
  <div class="ui segment">
    <h1>Welcome to LegatoJS</h1>
    <p>open the documentation for more info</p>
  </div>
</main>

<footer><%- include ('../partials/footer.ejs') %></footer>
</body>
</html>
