<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle; %></title>

    <!-- CSS link (loading Semantic UI from a CDN) -->
    <link rel="stylesheet" href="/static/assets/semantic.min.css" />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <div class="ui inverted menu">
        <a class="item" href="/"> Home </a>
        <a
          class="item"
          href="https://github.com/robinson-juniardy/legato-starter-example/blob/master/README.md"
        >
          Legato Docs
        </a>
      </div>
    </header>
  </body>
</html>
