<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/assets/legato.css" type="text/css" />
    {{! <script src="https://apis.google.com/js/api:client.js"></script> }}
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>